global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: otel-collector
    static_configs:
      - targets: ["otel-collector:9464"]

  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]
